
header, footer, .generator-wrapper, 
.name-container, .result{
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    height: 10vh;
}

main {
    width: 100%;
    height: 80vh;
}

footer {
    flex-direction: column;
    width: 100%;
    height: 10vh;
}

.generator-wrapper {
    flex-direction: column;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.result {
    width: 90%;
    height: 20%;
}

.name-container {
    width: 100%;
    height: 80%;
}

.social-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: auto;
    padding: 10px 0 10px;
}

.social-list {
    display: flex;
    justify-content: space-around;
    width: 70%;
    height: auto;
    margin-top: 15px;
}