
header {
    background-color: var(--pink-lavander) ;
}

.header__logo {
    font:bold 1.8rem sans-serif;
    color: white;
}


body {
    background: rgb(255,143,192);
    background: radial-gradient(circle, rgba(255,143,192,1) 0%, rgba(255,255,255,1) 0%, rgba(142,190,246,1) 30%, rgba(255,208,229,1) 50%, rgba(255,255,255,1) 71%, rgba(255,255,255,1) 76%, rgba(142,190,246,1) 100%);
}

main {
    background-color: transparent;
}

.generator {
    background-color: transparent;
}

.generator-container {
    padding: 10px;
    background: rgba( 255, 177, 237, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;background: rgba( 255, 177, 237, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
}

.generator-container h1 {
    padding-bottom: 25px;
    font-size: 1.9rem;
    font-family: var(--fuente);
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 4px rgba(255,137,189,0.6);
}

.generator-container .get-name {
    padding: 10px 25px;
    margin-bottom: 25px;
    border-radius: 8px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    cursor: pointer;

    background: rgba( 142, 191, 255, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.generator-container h2 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-family: sans-serif;
    text-align: center;
    color: #fff;
}

.result {
    width: 90%;
    height: 30%;
    background: rgba( 255, 255, 255, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.name-container h3 {
    font-family: var(--fuente);
    font-size: 4rem;
    color: white;
    text-shadow: 0px 2px 8px rgba(164, 137, 255, 0.6);
}

footer {
    background: #16BFFD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CB3066, #16BFFD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.social-list {
    font-size: 1rem;
    list-style: none;
}

.social-container h4 {
    font-family: sans-serif;
    color: #fff;
}

.social-list li a {
    text-decoration: none;
    color: white;
}

