
header {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.header__logo {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 0.05em 0 0 var(--pink-lavander),
    -0.025em -0.05em 0 var(--cute-yellow),
    0.025em 0.05em 0 var(--turquoise)

}

body {
    background-color: var(--dark-gray);
}


.title {
    padding-bottom: 25px;
    font-size: 3.5rem;
    letter-spacing: 2px;
    text-align: center;
    color: var(--just-white);
    text-shadow: 0.03em 0 0 var(--pink-lavander),
    -0.025em -0.03em 0 var(--cute-yellow),
    0.025em 0.03em 0 var(--turquoise)
}

.get-name {
    min-width: 80% ;
    height: 70px;
    padding: 10px 25px;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 1.5px;
    color: var(--just-white);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    cursor: pointer;
    background: rgba(27, 28, 28, 0.45);
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );

}

.your-new-name{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: sans-serif;
    letter-spacing: 1px;
    text-align: center;
    color: var(--just-white);

    text-shadow: 0.02em 0 0 var(--pink-lavander),
    -0.025em -0.02em 0 var(--cute-yellow),
    0.025em 0.02em 0 var(--turquoise)
}

.result {
    background: var(--just-white);
    border-radius: 10px;

}


.your-name {
    font-family: var(--fuente);
    font-size: 4rem;
    color: var(--just-black);
    letter-spacing: 1.5px;
    text-shadow: 0.05em 0 0 var(--pink-lavander),
    -0.025em -0.05em 0 var(--cute-yellow),
    0.025em 0.05em 0 var(--turquoise)
}

footer {
    border-radius: 20px 20px 0 0;
    background: #16BFFD;
    /*fallbackforoldbrowsers*/background: -webkit-linear-gradient(to right, var(--pink-lavander), var(--turquoise));
    /*Chrome10-25,Safari5.1-6*/background: linear-gradient(to right, var(--pink-lavander), var(--turquoise));
}



.social-list {
    font-size: 1rem;
    list-style: none;
}

.social-container h4 {
    font-size: 1.4rem;
    color: var(--just-black) ;
}

.social-list li a {
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--dark-gray);

    text-shadow: 0.05em 0 0 var(--pink-lavander),
    -0.025em -0.05em 0 var(--cute-yellow),
    0.025em 0.05em 0 var(--turquoise)
}



.get-name:hover {
    box-shadow: 0 8px 20px 0 rgba(40, 50, 179, 0.37);
    backdrop-filter: blur( 12.5px );
    -webkit-backdrop-filter: blur( 12.5px );
    transition:ease-in-out 500ms;
    -webkit-transition:ease-in-out 500ms;
    -moz-transition:ease-in-out 500ms;
    -ms-transition:ease-in-out 500ms;
    -o-transition:ease-in-out 500ms;
}
